
@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 0%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin: 0%;
	}
}

@media screen and (max-height: 450px) {
	html{
		overflow-x: hidden;
	}
	.overlay a {
	  font-size: 20px;
	}
	.overlay .close {
	  font-size: 40px;
	  top: 15px;
	  right: 35px;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 0%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin: 0%;
	}

	#servicios_table{
		height: auto;
		width: 100%;
		display: grid;
		position: relative;
		margin: 2% 0% 0% 0%;
	}

	#node_img{
		width: 500px;
		height: 500px;
	}

	.vertex_items {
		height: 160px;
		width: 150px;
		background: black;
	}

	.vertex_items:before {
		top: 5px;
		left: 5px;
		height: calc(100% - 10px);
		width: calc(100% - 10px);
		background: #ffffff;
	}

	.vertex_items svg{
		color: #0063a5;
		z-index: 1000;
		width: 50px;
		height: 50px;
		margin-top: 30%;
	}

	.vertex_items p{
		color: black;
		z-index: 2000;
		font-size: small;
		text-align: center;
		margin-bottom: 30%;
	}

	#servicios_table #vertical_aligned{
		display: inline-flex;
		width: 650px;
		align-content: center;
		align-items: center;
		margin-left: 0%;
		justify-content: space-between;
	}


  }
  
  @media only screen and (max-width: 800px) {
	.home{
		height: auto;
  		max-width: 100%;
		background-image: url(../img/IMG_6039.jpg);
		background-size: contain;
	}

	section #cons p{
		font-size: large;
	}

	section #cons a{
		font-size: small;
	}

	.nav__links,
	.cta {
	  display: none;
	}
	.menu {
	  display: initial;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 0%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin: 0;
	}

	.parrafo-terri{
		font-size: 20px;
	}
  }
  

@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 0%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin: 0;
	}
}


@media(max-width: 1200px){

	#inline_div{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	#inline_div #who_we_are{
		display: grid;
		place-items: center;
		margin-left: auto;
		margin-right: auto;
	}

	#inline_div #three_baloons{
		margin-top: 50px;
		display: flex;
		justify-self: center;
		width: 100%;
		justify-content: center;
		justify-items: center;
		display: inline-flex;
		flex-direction: column;
	}

	section #inline_div #three_baloons .baloon{
		width: auto;
		place-self: center;
		margin: 20px 0;
	}

	.baloon .count{
		padding: 0;
		margin: 0;
	}

	section #inline_div #who_we_are p{
		min-width: 300px;
		text-align: center;
	}

	section #inline_div #who_we_are button{
		width: 50%;
	}

	#servicios_table{
		height: 1200px;
	}

	#servicios_table #node_img{
		border: 0;
		animation: none;
		width: 100%;

	}

	#servicios_table #node_img img{
		display: none;
	}

	#servicios_table #node_img .vertex_items{
		animation: none;
		margin: 10px 0;
	}


	#custodia__mercaderia{
		place-self: center;
	}


	#servicios_table #vertical_aligned{
		display: grid;
		place-items: center;
		width: auto;
		flex-direction: column;
	}

	

	
	
}


@media(min-width: 1201px) and (max-width: 1750px){

	
	#inline_div #who_we_are{
		display: grid;
		place-items: center;
		margin-left: auto;
		margin-right: auto;
	}

	section #inline_div #who_we_are p{
		min-width: 300px;
		text-align: center;
	}

	section #inline_div #who_we_are button{
		width: 50%;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 30%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin-bottom: 90%;
	}
	


}