@media (max-width: 1280px) {
    header{
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
        transition: 1s;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 100%;
        height: 40vh;
        background-color:  #02010a;
		color:rgb(255, 255, 255);
        display:flex;
        flex-direction: column;
        justify-content: center;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
    }

    .navbar a:hover{
        transform: translateY(5px);
    }


    .navbar.open{
        right: 0%;
        transition: .50s;
    }
}

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 0%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin: 0%;
	}
}

@media screen and (max-height: 450px) {
	html{
		overflow-x: hidden;
	}
	.overlay a {
	  font-size: 20px;
	}
	.overlay .close {
	  	font-size: 40px;
	  	top: 15px;
	  	right: 35px;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 0%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin: 0%;
	}

	#servicios_table{
		height: auto;
		width: 100%;
		display: grid;
		position: relative;
		margin: 2% 0% 0% 0%;
	}

	#node_img{
		width: 500px;
		height: 500px;
	}

	.vertex_items {
		height: 200px;
		width: 180px;
	}

	.vertex_items:before {
		top: 5px;
		left: 5px;
		height: calc(100% - 10px);
		width: calc(100% - 10px);
		background: #ffffff;
	}

	.vertex_items svg{
		color: #0063a5;
		z-index: 1000;
		width: 50px;
		height: 50px;
		margin-top: 30%;
	}

	.vertex_items p{
		z-index: 2000;
		font-size: small;
		text-align: center;
		margin-bottom: 30%;
	}

	#servicios_table #vertical_aligned{
		display: inline-flex;
		width: 650px;
		align-content: center;
		align-items: center;
		margin-left: 0%;
		justify-content: space-between;
	}

	#servicios_table #vertical_aligned img{
		width: 200px;
	}

	#seguridad_fisica{
		margin-bottom: 40px;
	}

	#servicios_table #investigacion{
		margin-top: 40px;
	}


  }
  
  @media only screen and (max-width: 800px) {

	.nav__links,
	.cta {
	  display: none;
	}
	.menu {
	  display: initial;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 0%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin: 0;
	}

	.parrafo-terri{
		font-size: 20px;
	}
  }
  

@media (max-width: 991px){
	#navbarSupportedContent ul li a{
		padding: 12px 30px;
	}
	.hori-selector{
		margin-top: 0px;
		margin-left: 10px;
		border-radius: 0;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	.hori-selector .left,
	.hori-selector .right{
		right: 10px;
	}
	.hori-selector .left{
		top: -25px;
		left: auto;
	}
	.hori-selector .right{
		bottom: -25px;
	}
	.hori-selector .left:before{
		left: -25px;
		top: -25px;
	}
	.hori-selector .right:before{
		bottom: -25px;
		left: -25px;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 0%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin: 0;
	}
}


@media(max-width: 1200px){

	#inline_div{
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	#inline_div #who_we_are{
		display: grid;
		place-items: center;
		margin-left: auto;
		margin-right: auto;
	}

	#inline_div #three_baloons{
		margin-top: 50px;
		display: flex;
		justify-self: center;
		width: 100%;
		justify-content: center;
		justify-items: center;
		display: inline-flex;
		flex-direction: column;
	}

	section #inline_div #three_baloons .baloon{
		width: auto;
		place-self: center;
		margin: 20px 0;
	}

	.baloon .count{
		padding: 0;
		margin: 0;
	}

	section #inline_div #who_we_are p{
		min-width: 300px;
		text-align: center;
	}

	section #inline_div #who_we_are button{
		width: 50%;
	}

	#servicios_table{
		height: 1200px;
	}

	#servicios_table #node_img{
		border: 0;
		animation: none;
		width: 100%;

	}

	#servicios_table #node_img img{
		display: none;
	}

	#servicios_table #node_img .vertex_items{
		animation: none;
		margin: 10px 0;
	}


	#custodia__mercaderia{
		place-self: center;
	}


	#servicios_table #vertical_aligned{
		display: grid;
		place-items: center;
		width: auto;
		flex-direction: column;
	}

	

	
	
}


@media(min-width: 1201px) and (max-width: 1750px){

	
	#inline_div #who_we_are{
		display: grid;
		place-items: center;
		margin-left: auto;
		margin-right: auto;
	}

	section #inline_div #who_we_are p{
		min-width: 300px;
		text-align: center;
	}

	section #inline_div #who_we_are button{
		width: 50%;
	}

	section #inline_div #three_baloons .baloon p:nth-child(1){
		padding-top: 30%;
	}

	section #inline_div #three_baloons .baloon .count{
		margin-bottom: 90%;
	}
	


}

@media (max-width: 880px){
    .home{
        margin-top: 5px;
        grid-template-columns: 1fr;
        height: 114vh;
    }

    .home-img{
        text-align: center;
    }

    .home-img img{
        height: auto;
        max-width: 500px;
        width: 100%;
    }
}

@media screen and (max-width: 850px) {
	.contact-wrapper {
	  display: flex;
	  flex-direction: column;
	}
	.direct-contact-container, .form-horizontal {
	  margin: 0 auto;
	}  
	
	.direct-contact-container {
	  margin-top: 60px;
	  max-width: 300px;
	}    
	.social-media-list li {
	  height: 60px;
	  width: 60px;
	  line-height: 60px;
	}
	.social-media-list li:after {
	  width: 60px;
	  height: 60px;
	  line-height: 60px;
	}
  }
  
  @media screen and (max-width: 569px) {

	.logo{
		width: 200px;
	}

	.direct-contact-container, .form-wrapper {
	  float: none;
	  margin: 0 auto;
	}  
	.form-control, textarea {
	  
	  margin: 0 auto;
	}
   
	
	.name, .email, textarea {
	  width: 280px;
	} 
	
	.direct-contact-container {
	  margin-top: 60px;
	  max-width: 280px;
	}  
	.social-media-list {
	  left: 0;
	}
	.social-media-list li {
	  height: 55px;
	  width: 55px;
	  line-height: 55px;
	  font-size: 2rem;
	}
	.social-media-list li:after {
	  width: 55px;
	  height: 55px;
	  line-height: 55px;
	}
	
  }
  
  @media screen and (max-width: 410px) {
	.send-button {
	  width: 99%;
	}
	#cons{
		font-size: 12px;
	}
  }