@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
  scrollbar-width: none;
}

::-webkit-scrollbar{
  width: 0px;
}

html{
  overflow-x: hidden;
}

*{
  padding:0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing:border-box;
}

#bottone1 a{
  text-decoration: none;
  color: white;
}

#bottone1 {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  top: 89%;
  left:10px;
  z-index: 1000;
  padding-left: 33px;
  padding-right: 33px;
  padding-bottom: 16px;
  padding-top: 16px;
  border-radius: 9px;
  background: #0063a5;
  border: none;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  z-index:100000;
  color: white;
 }
 
 #bottone1:hover {
  box-shadow: 7px 5px 56px -14px #000000;
 }
 
 #bottone1:active {
  transform: scale(0.97);
  box-shadow: 7px 5px 56px -10px #000000;
 }

header{
  background: #02010a;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px  10%;
  transition: all .38s ease;
}

header.abajo{
  background: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px  10%;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all .40s ease;
}



.logo{
  width: 250px;
  cursor: pointer;
}


.navbar{
  display: flex;
}

.navbar a{
  color: var(--text-color);
  font-size: medium;
  font-weight: 400;
  padding: 5px 5px;
  margin: 2px 25px;
  border-bottom: 2px solid transparent;
  transition: all .40s ease;
}

.navbar a:hover{
  border-bottom: 2px solid #0063a5;
  
}

.btn-header button{
  font-weight:700;
  color: #fff;
  padding: 9px 25px;
  background: #0063a5;
  border: 2px solid rgba(255, 255, 255, 0);
  border-radius: 10px;
  cursor:pointer;
  transition: all 0.5s ease 0s;
}

.btn-header button:hover{
  transform: scale(1.2);
}

#menu-icon{
  font-size: 35px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

#menu-icon.abajo{
  color:black;
}

section{
  padding: 80px 10% 80px;
}


/*section1*/

.gradient{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1000;
  background: linear-gradient(-45deg, #0063a5, #005994, #003152, #001321);
  background-size: 400% 400%;
  width: 100vw;
  height: 100%;
  animation: gradient 15s ease infinite;
}


section #inline_div{
  display: inline-flex;
  flex-direction: row;
}

section #inline_div #who_we_are{
  width: 70%;
  display:flex;
  flex-direction:column;
}

section #inline_div #who_we_are p{
  width: 50%;
}

section #inline_div #who_we_are p:nth-child(1){
  font-size: 50px;
}
section #inline_div #who_we_are p:nth-child(2){
  font-size: 20px;
  margin: 0vh 0vw 5vh 0vw;
}

section #inline_div #who_we_are .btn-info{
  width: 8vw;
  background-color: #0063a5;
  color: white;
  border-radius: 10px;
  outline: 0;
  border: 0;
  padding: 1vh 2vw 1vh 2vw;
}

section #inline_div #three_baloons{
  display: inline-flex;
}

section #inline_div #three_baloons .baloon{
  display:grid;
  place-items:center;
  margin: 0vh 1vw 0vh 1vw;
  font-size: 40px;
  text-align:center;
}
section #inline_div #three_baloons .baloon p:nth-child(1){
  padding-top: 30%;
  font-size: 30px;
  margin: 0px;
}

section #inline_div #three_baloons .baloon .count{
  display: grid;
  margin-bottom: 30%;
  place-items: center;
  width: 200px;
  height: 200px;
  border: 2px solid #0063a5;
  border-radius: 50%;
}

/*section2*/

.info-contacto{
  margin-top: 20px;
  background-color: #0063a5;
}


.btn-info {
  border: none;
  display: block;
  position: relative;
  padding: 0.7em 2.4em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
}

.btn-info span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid rgb(255, 255, 255);
}

.btn-info span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: #0063a5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

.btn-info:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #ffffff;
}

.btn-info:hover {
  color: rgb(0, 0, 0);
}

.btn-info:active span::before {
  background: #ffffff;
}

.title-contact{
  color:#ffffff;
}


/*Services*/

#servicios_table{
  width: 100%;
  display: grid;
  position: relative;
  margin: 2% 0% 0% 0%;
}

.vertex_items {
  display: grid;
  place-items: center;
  position: relative;
  height: 300px;
  width: 250px;
  background: red;
}
.vertex_items:before{
  position: absolute;
  content: '';
}
.vertex_items, .vertex_items:before{
  -webkit-clip-path: url(#hexagon-clip);
  clip-path: url(#hexagon-clip);
}
.vertex_items:before {
  top: 4px;
  left: 4px;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  background: #ffffff;
}

.vertex_items svg{
  color: #f70000;
  z-index: 1000;
  width: 100px;
  height: 100px;
  margin-top: 30%;
}

.vertex_items p{
  color: #0063a5;
  z-index: 2000;
  margin-bottom: 30%;
}

#node_img{
  place-self: center;
  width: 750px;
  height: 750px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 50%;
  z-index: -1000;
  border: 5px solid #0063a5;
  animation: orbit 20s linear infinite;
}

/*animation: orbit 20s linear infinite;*/

#node_img #imgs{
  position: absolute;
  justify-self: center;
  margin-top: auto;
  margin-bottom: auto;
  width: 250px;
  flex-shrink: 0;
  z-index: 4000;
}

#node_img img{
  flex-shrink: 0;
  z-index: 4000;
  animation: -orbitseguridadfisica 20s linear infinite;
  transform: scale(0.3);
}

/*animation: -orbitseguridadfisica 20s linear infinite; */
#servicios_table #seguridad_fisica{
  margin-left: auto;
  margin-right: auto;
  justify-self: center;
  flex-shrink: 0;
  animation: -orbitseguridadfisica 20s linear infinite;
}

#servicios_table #custodia__mercaderia{
  animation: -orbitseguridadfisica 20s linear infinite;
}

#servicios_table #seguridad_electronica{
  animation: -orbitseguridadfisica 20s linear infinite;
}
#servicios_table #investigacion{
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
  animation: -orbitseguridadfisica 20s linear infinite;
}

#servicios_table #vertical_aligned{
  display: inline-flex;
  width: 950px;
  margin-left: 0%;
  justify-content: space-between;
}



@-webkit-keyframes orbit { 
  from { -webkit-transform:rotate(0deg) } 
  to { -webkit-transform:rotate(360deg) } 
}

@-moz-keyframes orbit { 
  from { -moz-transform:rotate(0deg) } 
  to { -moz-transform:rotate(360deg) } 
}

@keyframes -orbitseguridadfisica {
  from { -webkit-transform:rotate(360deg) } 
  to { -webkit-transform:rotate(0deg) } 
}

@keyframes -orbitcustodiamercaderia{
  from { -webkit-transform:rotate(360deg) } 
  to { -webkit-transform:rotate(0deg) } 
}

.learn-more a{
  color:black;
}
 
 .learn-more {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #ffffff;
  border: 2px solid #0063a5;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 .learn-more::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0063a5;
  border-radius: inherit;
  -webkit-box-shadow: 0 0 0 2px #0063a5, 0 0.625em 0 0 #00000063;
  box-shadow: 0 0 0 2px #0063a5, 0 0.625em 0 0 #00000048;
  -webkit-transform: translate3d(0, 0.75em, -1em);
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 .learn-more:hover {
  background: #ffe9e9;
  -webkit-transform: translate(0, 0.25em);
  transform: translate(0, 0.25em);
 }
 
 .learn-more:hover::before {
  -webkit-box-shadow: 0 0 0 2px #0063a5, 0 0.5em 0 0 #000000;
  box-shadow: 0 0 0 2px #0063a5, 0 0.5em 0 0 #030000;
  -webkit-transform: translate3d(0, 0.5em, -1em);
  transform: translate3d(0, 0.5em, -1em);
 }
 
 .learn-more:active {
  background: #ffe9e9;
  -webkit-transform: translate(0em, 0.75em);
  transform: translate(0em, 0.75em);
 }
 
 .learn-more:active::before {
  -webkit-box-shadow: 0 0 0 2px #0063a5, 0 0 #000000;
  box-shadow: 0 0 0 2px #0063a5, 0 0 #000000;
  -webkit-transform: translate3d(0, 0, -1em);
  transform: translate3d(0, 0, -1em);
 }

/*wave*/
.waves-territorial{
  margin: 0;
  padding: 0;
}
.waves:nth-child(1){
  transform: rotate(180deg)
}

.parallax2 > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
    transform: rotate(-180deg);    
}
.parallax2 > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax2 > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax2 > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax2 > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}


.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}


/*carrusel*/
@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-120px * 10));
    }
  }
  .slider {
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-top:20px;
    margin-bottom:20px;
  }
  .slider::before, .slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 10px;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 10px;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(300px * 10);
  }
  .slider .slide {
    height: 100px;
    width: 250px;
  }

.title-terri{
    color:white;
    font-size: 40px;
}

.parrafo-terri{
    font-size:30px;
    padding-top: 60px;
    padding-left:80px;
    padding-right:80px;
    font-weight: 600;
}

.blue{
  color:#007bff;
}

.red{
  color:red;
}

/*section clientes*/

.divisor{
  border: 3px solid  red;
  background-color:  red;;
  width: 25%;
}

/* Custodia Merc Tran*/

.redirects_body img{
  height: auto;
  max-width: 100%;
}

#mercaderia_en_transito{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#mercaderia_en_transito p{
  font-size: larger;
  margin: 5vh 0;
}

/*contacto*/


#contact {
  marg
  height: 100vh;
  width: 100%;
  background-color: #02010a;
  padding-bottom: 100px;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #007bff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #007bff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}




hr {
  border-color: rgba(255,255,255,.6);
}


/*footer*/

.footer-20192 {
  position: relative;
  color: #ffffff;
  background-color:  #02010a;
  padding: 7rem 0;
  background-color: var(title-color); 
}
.footer-20192 .contenedor-contacto {
  border-radius: 10px;
}
.footer-20192 .container {
  position: relative; 
}
.footer-20192 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5; 
}
.footer-20192 .links li {
  margin-bottom: 10px;
  line-height: 1.5;
  display: block; 
}

.footer-20192 a{
  text-decoration: none;
}
.footer-20192 .links li a {
      color: #666873;
}
.footer-20192 .links li a:hover {
  color: #0063a5;
  transition: .50s;
}
.footer-20192 .social li {
  display: inline-block;
  position: relative; 
}
.footer-20192 .social li a {
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      display: inline-block;
      margin: 0;
      padding: 0;
      background-color: #ffffff;
      color: #000000; 
}
.footer-20192 .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); 
}
.footer-20192 .footer-logo {
  color: red;
  font-family: 'Zen Tokyo Zoo';
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: .1rem; 
}
.footer-20192 .copyright {
  color: #ffffff; 
}
.footer-20192 .cta {
  -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  padding: 20px;
  background-color: var(--title-color);
  top: -150px;
  position: relative; 
}
.footer-20192 .cta h2, .footer-20192 .cta h3 {
  line-height: 1.5;
}
.footer-20192 .cta h3 {
  font-size: 20px; }

.icon{
  font-size: 35px;
  color: var(--text-color);
}

.icon:hover{
  color:var(--title-color);
  transition: 0.5s;
}

.home{
  background-color: #02010a;
  height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}

.home-img img{
  width: 100%;
  height: auto;
}

.latinsecparrafo{
  font-size: 20px;
  font-weight: bold;
  color: #ff0000;
}

/* burbujas */

.burbuja{
  border-radius: 50%;
  opacity: .4;
  position: absolute;
  bottom: -50;
  animation: burbujas 1s linear infinite ;
}

.burbuja:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(2){
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(3){
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.burbuja:nth-child(4){
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5){
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.burbuja:nth-child(6){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(8){
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9){
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.burbuja:nth-child(10){
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}


@keyframes burbujas{
  0%{
      bottom: 0;
      opacity: 0;
  }
  30%{
      transform: translateX(30px);
  }
  50%{
      opacity: .4;
  }
  100%{
      bottom: 100vh;
      opacity: 0;
  }
}

@keyframes movimiento{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}

.hom-btn {
  font-size: 18px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.hom-btn:focus,
.hom-btn:hover {
  color: #0063a5;
}

.hom-btn:focus:after,
.hom-btn:hover:after {
  width: 100%;
  left: 0%;
}

.hom-btn:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #0063a5;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}